#head {
    font-family:'Monoton', cursive;
    font-size: 60px;
    text-align: center;
    background-color: aqua;
    margin: 0px;
    font-display: underline;
}
#tImage {
    padding-top: 30px;

}

#underHead {
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
    text-align: center; 
    background-color: bisque;
}

#body {
    background-color: black;
}

#container {
    background-color: white;
    padding: 10px;
}

.text {
    font-family: 'Josefin Sans', sans-serif;
}